        <p>
            <strong>Rating:</strong>
            <%= review.rating %>
        </p>
        
        <p>
            <strong>Comment:</strong>
            <%= review.content %>
        </p>